Repository AaronSosaRamos/PortfolioWebsite, pull requests merged in 2024-08, with the labels that each got.

#1 new added projects
  components/Projects.tsx
  public/ai-spelling-checker.jpeg
  public/conversors-suite.png
  public/render.svg
Labels: enhancement, good first issue, projects

#2 New projects imp
  components/Projects.tsx
  public/gemini-dynamo.jpeg
Labels: documentation, enhancement, help wanted, projects

#3 Update Projects.tsx
  components/Projects.tsx
Labels: enhancement, help wanted, good first issue

#4 updated projects
  components/Projects.tsx
  public/gemini-quizzify.png
Labels: documentation, enhancement, help wanted, projects

#5 new projects imp.
  components/Projects.tsx
  public/gemini-dynamo.jpeg
  public/gemini-dynamo.png
Labels: documentation, enhancement, projects

#6 new updated imp.
  components/ProfessionalExperience.tsx
  components/Projects.tsx
  public/agile.png
  public/ai-code-ds-assistant.png
  public/product-management.png
Labels: documentation, enhancement, projects
