Repository AaronSosaRamos/PortfolioWebsite, pull requests merged in 2024-09, with the labels that each got.

#7 new update imp.
  components/Projects.tsx
  public/ai-spelling-checker.jpeg
  public/ai-writing-services.jpeg
Labels: documentation, enhancement, help wanted, projects

#8 new updates 02-09-2024
  components/Projects.tsx
  public/ai-gemini-dynamo.jpeg
  public/ai-gemini-quizzify.jpeg
  public/gemini-dynamo.png
  public/gemini-quizzify.png
Labels: documentation, enhancement, help wanted, projects

#9 new project desc. for quizzify
  components/Projects.tsx
Labels: documentation, enhancement, projects

#10 Update Projects.tsx for project desc.
  components/Projects.tsx
Labels: documentation, enhancement, help wanted, projects

#11 new project update 15-09-2024
  components/Projects.tsx
  public/ai-code-ds-assistant.png
  public/redux.png
Labels: documentation, enhancement, help wanted, good first issue

#12 new update 18-09-2024
  components/Projects.tsx
  public/conversors-suite.png
Labels: documentation, enhancement, help wanted, projects

#13 Feature/dark mode
  components/Banner.tsx
  components/Contact.tsx
  components/CourseSlider.tsx
  components/Navbar.tsx
  components/ProfessionalExperience.tsx
  components/Projects.tsx
  components/Repositories.tsx
  components/Researches.tsx
  public/ai-code-productivity-booster.png
  public/boushtech-dark.png
  public/claudehaiku.png
  public/harvard-dark.png
  public/ib-dark.png
  public/learnifyai.png
  public/llmhub.png
  public/next.svg
  public/nextjs.png
  public/radical-ai-dark.png
  tailwind.config.ts
Labels: documentation, enhancement, help wanted, good first issue, projects

#14 new projects imp.
  components/Projects.tsx
  public/ai-code-ds-assistant.png
Labels: documentation, enhancement, projects

#15 feature/main-screen-26-09-2024
  components/Projects.tsx
  public/ai-ppt-builder.png
  public/flyops.png
  public/reply-gen.png
Labels: documentation, enhancement, help wanted, good first issue, projects
